<%= form_for(@debt) do |f| %>   
    <div class="field"> 
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>

    <div class="field">
        <%= f.label :balance %>
        <%= f.text_field :balance %>
    </div>

    <div class="field">
        <%= f.label :principal %>
        <%= f.text_field :principal %>
    </div>

    <div class="field">
        <%= f.label :interest %>
        <%= f.text_field :interest %>
    </div>

    <div>
        <%= f.submit %>
    </div>
<% end %>