<p><%= @debt.name %></p>
<p><%= @debt.balance %></p>
<p><%= @debt.interest %></p>
<p><%= @debt.time %></p>
<p><%= @debt.principal %></p>

<%= link_to 'Edit This Debt', edit_debt_path(@debt) %>

<%= @pay %>

